In [1]:
import pandas as pd
import numpy as np

In [5]:
df_train = pd.read_csv("D:\\datapool\\cs-training.csv")

x = df_train.drop([u'Unnamed: 0', u'SeriousDlqin2yrs'] , axis = 1)
y_column = u'SeriousDlqin2yrs'
y = df_train[u'SeriousDlqin2yrs']

In [50]:
x["test_cat1"] = pd.Series(np.random.randint(0,5,size=150000)).apply(lambda x:str(x)+"_test")
x["test_cat2"] = pd.Series(np.random.randint(0,10,size=150000)).apply(lambda x:str(x)+"_test")
x["test_cat3"] = pd.Series(np.random.randint(0,20,size=150000)).apply(lambda x:str(x)+"_test")
x["test_U"] = y
x.loc[x["test_cat1"] == "0_test","test_cat1"] = np.nan
x.loc[x["test_cat2"] == "0_test","test_cat2"] = np.nan
x.loc[x["test_cat3"] == "0_test","test_cat3"] = np.nan

#x["test_cat1"].value_counts()

#print np.random.randint.__doc__

In [75]:
%run D:\gitstore\fy_scorecard.py

ximu = fs_scorecard(x,y,event = 1,workpath = "./")

#ximu.get_woe_iv()

ximu.columns_bin_dict["NumberOfTime30-59DaysPastDueNotWorse"] = [-np.inf,0,np.inf]
ximu.columns_bin_dict["NumberOfTime60-89DaysPastDueNotWorse"] = [-np.inf,0,np.inf]
ximu.columns_bin_dict["NumberOfTimes90DaysLate"] = [-np.inf,0,np.inf]

ximu.get_woe_iv()

ximu.woe_t.head()

FY Scorecard ready!
test_cat3 : too many values for discrete variables.

<string>:82: RuntimeWarning: divide by zero encountered in log

./woe_t.xlsx  generated;
 <name>.woe_t, <name>.iv_t available

,var_name,var_cat,cat_total_count,pos_count,neg_count,p_ni,p_y_total,p_yi,woe,iv_i
0,RevolvingUtilizationOfUnsecuredLines,"(-inf, 0.0192]",30000,582,29418,0.210168,0.06684,0.058049,-1.286617,1.957182e-01
1,RevolvingUtilizationOfUnsecuredLines,"(0.0192, 0.0832]",30000,497,29503,0.210775,0.06684,0.049571,-1.447382,2.333234e-01
2,RevolvingUtilizationOfUnsecuredLines,"(0.0832, 0.271]",30000,877,29123,0.208060,0.06684,0.087473,-0.866502,1.044893e-01
3,RevolvingUtilizationOfUnsecuredLines,"(0.271, 0.699]",30000,2107,27893,0.199273,0.06684,0.210154,0.053164,5.784748e-04
4,RevolvingUtilizationOfUnsecuredLines,"(0.699, inf]",30000,5963,24037,0.171725,0.06684,0.594754,1.242254,5.255095e-01
0,age,"(-inf, 39.0]",32004,3370,28634,0.204567,0.06684,0.336126,0.496593,6.533152e-02
1,age,"(39.0, 48.0]",30540,2565,27975,0.199859,0.06684,0.255835,0.246922,1.382179e-02
2,age,"(48.0, 56.0]",29040,2077,26963,0.192629,0.06684,0.207161,0.072734,1.057024e-03
3,age,"(56.0, 65.0]",29817,1324,28493,0.203559,0.06684,0.132057,-0.432726,3.094103e-02
4,age,"(65.0, inf]",28599,690,27909,0.199387,0.06684,0.068821,-1.063738,1.388880e-01
0,NumberOfTime30-59DaysPastDueNotWorse,"(-inf, 0.0]",126018,5041,120977,0.864282,0.06684,0.502793,-0.541721,1.958263e-01
1,NumberOfTime30-59DaysPastDueNotWorse,"(0.0, inf]",23982,4985,18997,0.135718,0.06684,0.497207,1.298427,4.693674e-01
0,DebtRatio,"(-inf, 0.134]",30000,1830,28170,0.201252,0.06684,0.182525,-0.097667,1.828928e-03
1,DebtRatio,"(0.134, 0.287]",30000,1716,28284,0.202066,0.06684,0.171155,-0.166025,5.132025e-03
2,DebtRatio,"(0.287, 0.468]",30000,1853,28147,0.201087,0.06684,0.184819,-0.084360,1.372356e-03
3,DebtRatio,"(0.468, 4.0]",30109,2974,27135,0.193857,0.06684,0.296629,0.425358,4.371465e-02
4,DebtRatio,"(4.0, inf]",29891,1653,28238,0.201737,0.06684,0.164871,-0.201802,7.439652e-03
0,MonthlyIncome,"(-inf, 3000.0]",25084,2277,22807,0.162937,0.06684,0.227110,0.332066,2.130939e-02
1,MonthlyIncome,"(3000.0, 4544.2]",23024,1979,21045,0.150349,0.06684,0.197387,0.272204,1.280376e-02
2,MonthlyIncome,"(4544.2, 6300.0]",24057,1687,22370,0.159815,0.06684,0.168263,0.051506,4.350775e-04
3,MonthlyIncome,"(6300.0, 9083.0]",24084,1332,22752,0.162544,0.06684,0.132855,-0.201697,5.988348e-03
4,MonthlyIncome,"(9083.0, inf]",24020,1082,22938,0.163873,0.06684,0.107919,-0.417709,2.337243e-02
5,MonthlyIncome,nan,29731,1669,28062,0.200480,0.06684,0.166467,-0.185917,6.323568e-03
0,NumberOfOpenCreditLinesAndLoans,"(-inf, 4.0]",33659,3103,30556,0.218298,0.06684,0.309495,0.349083,3.183557e-02
1,NumberOfOpenCreditLinesAndLoans,"(12.0, inf]",27684,1846,25838,0.184591,0.06684,0.184121,-0.002550,1.198935e-06
2,NumberOfOpenCreditLinesAndLoans,"(4.0, 6.0]",26545,1573,24972,0.178405,0.06684,0.156892,-0.128496,2.764259e-03
3,NumberOfOpenCreditLinesAndLoans,"(6.0, 9.0]",37162,2017,35145,0.251082,0.06684,0.201177,-0.221596,1.105884e-02
4,NumberOfOpenCreditLinesAndLoans,"(9.0, 12.0]",24950,1487,23463,0.167624,0.06684,0.148314,-0.122389,2.363285e-03
0,NumberOfTimes90DaysLate,"(-inf, 0.0]",141662,6554,135108,0.965236,0.06684,0.653700,-0.389724,1.214130e-01
1,NumberOfTimes90DaysLate,"(0.0, inf]",8338,3472,4866,0.034764,0.06684,0.346300,2.298734,7.161383e-01
0,NumberRealEstateLoansOrLines,"(-inf, 1.0]",108526,7420,101106,0.722320,0.06684,0.740076,0.024285,4.311952e-04
1,NumberRealEstateLoansOrLines,"(1.0, 2.0]",31522,1765,29757,0.212589,0.06684,0.176042,-0.188639,6.894216e-03
2,NumberRealEstateLoansOrLines,"(2.0, inf]",9952,841,9111,0.065091,0.06684,0.083882,0.253629,4.766003e-03
0,NumberOfTime60-89DaysPastDueNotWorse,"(-inf, 0.0]",142396,7256,135140,0.965465,0.06684,0.723718,-0.288208,6.967323e-02
1,NumberOfTime60-89DaysPastDueNotWorse,"(0.0, inf]",7604,2770,4834,0.034535,0.06684,0.276282,2.079448,5.026997e-01
0,NumberOfDependents,"(-inf, 1.0]",113218,7030,106188,0.758627,0.06684,0.701177,-0.078749,4.524128e-03
1,NumberOfDependents,"(1.0, 2.0]",19522,1584,17938,0.128152,0.06684,0.157989,0.209307,6.245060e-03
2,NumberOfDependents,"(2.0, inf]",13336,1233,12103,0.086466,0.06684,0.122980,0.352272,1.286292e-02
3,NumberOfDependents,nan,3924,179,3745,0.026755,0.06684,0.017854,-0.404516,3.600755e-03
0,test_cat1,1_test,30086,2023,28063,0.200487,0.06684,0.201775,0.006405,8.250022e-06
1,test_cat1,2_test,30215,2027,28188,0.201380,0.06684,0.202174,0.003935,3.125130e-06
2,test_cat1,3_test,29876,2062,27814,0.198708,0.06684,0.205665,0.034412,2.394012e-04
3,test_cat1,4_test,29856,1966,27890,0.199251,0.06684,0.196090,-0.015992,5.055335e-05
4,test_cat1,nan,29967,1948,28019,0.200173,0.06684,0.194295,-0.029805,1.751935e-04
0,test_cat2,1_test,15011,967,14044,0.100333,0.06684,0.096449,-0.039477,1.533166e-04
1,test_cat2,2_test,15019,966,14053,0.100397,0.06684,0.096349,-0.041152,1.665735e-04
2,test_cat2,3_test,14907,1037,13870,0.099090,0.06684,0.103431,0.042879,1.861469e-04
3,test_cat2,4_test,15068,1010,14058,0.100433,0.06684,0.100738,0.003034,9.257058e-07
4,test_cat2,5_test,15084,1025,14059,0.100440,0.06684,0.102234,0.017705,3.176439e-05
5,test_cat2,6_test,15007,1037,13970,0.099804,0.06684,0.103431,0.035695,1.294587e-04
6,test_cat2,7_test,15055,947,14108,0.100790,0.06684,0.094454,-0.064923,4.113359e-04
7,test_cat2,8_test,14924,1032,13892,0.099247,0.06684,0.102932,0.036461,1.343706e-04
8,test_cat2,9_test,14933,975,13958,0.099719,0.06684,0.097247,-0.025096,6.202045e-05
9,test_cat2,nan,14992,1030,13962,0.099747,0.06684,0.102733,0.029494,8.806440e-05
0,test_U,0,139974,0,139974,1.000000,0.06684,0.000000,-10.000000,1.000000e+01
1,test_U,1,10026,10026,0,0.000000,0.06684,1.000000,10.000000,1.000000e+01

In [76]:
ximu.get_woe_replaced_df()

<name>.df_woe_replaced, <name>.df_binned available

In [80]:
ximu.df_woe_replaced.head()

,test_cat1,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,age,DebtRatio,NumberOfDependents,MonthlyIncome,test_U,RevolvingUtilizationOfUnsecuredLines,test_cat2,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate
0,0.003935,-0.002550,0.253629,0.246922,0.425358,0.209307,-0.417709,10.0,1.242254,0.029494,1.298427,-0.288208,-0.389724
1,-0.015992,0.349083,0.024285,0.246922,-0.097667,-0.078749,0.332066,-10.0,1.242254,-0.041152,-0.541721,-0.288208,-0.389724
2,0.003935,0.349083,0.024285,0.496593,-0.097667,-0.078749,0.272204,-10.0,0.053164,0.042879,1.298427,-0.288208,2.298734
3,0.034412,-0.128496,0.024285,0.496593,-0.097667,-0.078749,0.272204,-10.0,-0.866502,0.029494,-0.541721,-0.288208,-0.389724
4,-0.015992,-0.221596,0.024285,0.072734,-0.097667,-0.078749,-0.417709,-10.0,1.242254,-0.025096,1.298427,-0.288208,-0.389724

In [64]:
ximu.columns_bin_dict['NumberOfTimes90DaysLate']

[-inf, 0, inf]

In [67]:
ximu.woe_t.var_cat

0      (-inf, 0.0192]
1    (0.0192, 0.0832]
2     (0.0832, 0.271]
3      (0.271, 0.699]
4        (0.699, inf]
0        (-inf, 39.0]
1        (39.0, 48.0]
2        (48.0, 56.0]
3        (56.0, 65.0]
4         (65.0, inf]
0         (-inf, 3.0]
1         (12.0, inf]
2          (3.0, 6.0]
3          (6.0, 9.0]
4         (9.0, 12.0]
0       (-inf, 0.134]
1      (0.134, 0.287]
2      (0.287, 0.468]
3        (0.468, 4.0]
4          (4.0, inf]
0      (-inf, 3000.0]
1    (3000.0, 4544.2]
2    (4544.2, 6300.0]
3    (6300.0, 9083.0]
4       (9083.0, inf]
5                 nan
0         (-inf, 4.0]
1         (12.0, inf]
2          (4.0, 6.0]
3          (6.0, 9.0]
           ...
4         (7.2, 10.8]
0         (-inf, 1.0]
1          (1.0, 2.0]
2          (2.0, inf]
0         (-inf, 2.4]
1         (10.2, inf]
2          (2.4, 4.8]
3          (4.8, 7.2]
4         (7.2, 10.2]
0         (-inf, 1.0]
1          (1.0, 2.0]
2          (2.0, inf]
3                 nan
0              1_test
1              2_test
2              3_test
3              4_test
4                 nan
0              1_test
1              2_test
2              3_test
3              4_test
4              5_test
5              6_test
6              7_test
7              8_test
8              9_test
9                 nan
0                   0
1                   1
Name: var_cat, Length: 65, dtype: object

In [81]:
ximu.iv_t

                                var_name         iv
0                              DebtRatio   0.059488
1                          MonthlyIncome   0.070233
2                     NumberOfDependents   0.027233
3        NumberOfOpenCreditLinesAndLoans   0.048023
4   NumberOfTime30-59DaysPastDueNotWorse   0.665194
5   NumberOfTime60-89DaysPastDueNotWorse   0.572373
6                NumberOfTimes90DaysLate   0.837551
7           NumberRealEstateLoansOrLines   0.012091
8   RevolvingUtilizationOfUnsecuredLines   1.059619
9                                    age   0.250039
10                                test_U  20.000000
11                             test_cat1   0.000477
12                             test_cat2   0.001364